{
  "openapi": "3.1.0",
  "info": {
    "title": "apollo-rest-api",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.apollo.io/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "This access token is generated using the oauth"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/people/bulk_match": {
      "post": {
        "summary": "Bulk People Enrichment",
        "description": "Use the Bulk People Enrichment endpoint to enrich data for up to 10 people with a single API call. To enrich data for only 1 person, use the <a href=\"https://docs.apollo.io/reference/people-enrichment\" target=\"_blank\">People Enrichment endpoint</a> instead. <br><br>Apollo relies on the information you pass via the endpoint's parameters to identify the correct people to enrich. When you provide more information, Apollo is more likely to find matches within its database. If you only provide general information, such as a name without a domain or email address, you might receive a `200` response, but the response will indicate that no records have been enriched. The details for each person should be passed as an object with the `details[]` array. <br><br>By default, this endpoint does not return personal emails or phone numbers. Use the `reveal_personal_emails` and `reveal_phone_number` parameters to retrieve emails and phone numbers. If you set either of these parameters to `true`, Apollo will attempt to provide emails or phone numbers for all matches. <br><br>Calling this endpoint does consume credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. This feature is not accessible to Apollo users on free plans.<br><br>This endpoint's <a href=\"https://docs.apollo.io/reference/rate-limits\" target=\"_blank\">rate limit</a> is throttled to 50% of the People Enrichment endpoint's per-minute rate limit, and is 100% of the hourly and daily rate limits for the same individual endpoint.",
        "operationId": "bulk-people-enrichment",
        "parameters": [
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "description": "Set to `true` if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If a person resides in a <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4409141087757\" target=\"_blank\">GDPR</a>-compliant region, Apollo will not reveal their personal email.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "description": "Set to `true` if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If this parameter is set to `true`, you must enter a webhook URL for the `webhook_url` parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "webhook_url",
            "in": "query",
            "description": "If you set the `reveal_phone_number` parameter to `true`, this parameter becomes mandatory. Otherwise, do not use this parameter. <br><br>Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. <br><br>If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. <br><br>Example: `https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40`; `https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "details"
                ],
                "properties": {
                  "details": {
                    "type": "array",
                    "description": "Provide info for each person you want to enrich as an object within this array. Add up to 10 people.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "The first name of the person. This is typically used in combination with the `last_name` parameter. <br><br>Example: `tim`",
                          "default": "timasdf"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name of the person. This is typically used in combination with the `first_name` parameter. <br><br>Example: `zheng`",
                          "default": "Zheng"
                        },
                        "name": {
                          "type": "string",
                          "description": "The full name of the person. This will typically be a first name and last name separated by a space.  If you use this parameter, you do not need to use the `first_name` and `last_name` parameters. <br><br>Example: `tim zheng`",
                          "default": "tim Zheng"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email address of the person. <br><br>Example: `example@email.com`",
                          "default": "tim@apollo.io"
                        },
                        "hashed_email": {
                          "type": "string",
                          "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. <br><br>Example: `8d935115b9ff4489f2d1f9249503cadf` (MD5) or `97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152` (SHA-256)",
                          "default": "97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152"
                        },
                        "organization_name": {
                          "type": "string",
                          "description": "The name of the person's employer. This can be the current employer or a previous employer. <br><br>Example: `apollo`",
                          "default": "apollo"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include `www.`, the `@` symbol, or similar. <br><br>Example: `apollo.io` or `microsoft.com`",
                          "default": "apollo.io"
                        },
                        "id": {
                          "type": "string",
                          "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. <br><br>To find IDs, call the <a href=\"https://docs.apollo.io/reference/people-search\" target=\"_blank\">People Search endpoint</a> and identify the values for `person_id`. <br><br>Example: `587cf802f65125cad923a266`",
                          "default": "587cf802f65125cad923a266"
                        },
                        "linkedin_url": {
                          "type": "string",
                          "description": "The URL for the person's LinkedIn profile. <br><br>Example: `http://www.linkedin.com/in/tim-zheng-677ba010`",
                          "default": "http://www.linkedin.com/in/tim-zheng-677ba010"
                        }
                      },
                      "example": {
                        "first_name": "tim",
                        "last_name": "zheng",
                        "name": "tim zheng",
                        "email": "tim@apollo.io",
                        "hashed_email": "8d935115b9ff4489f2d1f9249503cadf",
                        "organization_name": "apollo",
                        "domain": "apollo.io",
                        "id": "587cf802f65125cad923a266",
                        "linkedin_url": "http://www.linkedin.com/in/tim-zheng-677ba010"
                      }
                    }
                  }
                }
              },
              "examples": {
                "Apollo ID to enrich data": {
                  "summary": "Get Apollo ID using /mixed_people/api_search endpoint.",
                  "value": {
                    "details": [
                      {
                        "id": "64a7ff0cc4dfae00013df1a5"
                      }
                    ]
                  }
                },
                "Sample request body": {
                  "summary": "Sample request body",
                  "value": {
                    "details": [
                      {
                        "first_name": "tim",
                        "last_name": "zheng",
                        "name": "tim zheng",
                        "email": "tim@apollo.io",
                        "hashed_email": "8d935115b9ff4489f2d1f9249503cadf",
                        "organization_name": "apollo",
                        "domain": "apollo.io",
                        "id": "587cf802f65125cad923a266",
                        "linkedin_url": "http://www.linkedin.com/in/tim-zheng-677ba010"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "success",
                      "error_code": null,
                      "error_message": null,
                      "total_requested_enrichments": 1,
                      "unique_enriched_records": 1,
                      "missing_records": 0,
                      "credits_consumed": 1,
                      "matches": [
                        {
                          "id": "64a7ff0cc4dfae00013df1a5",
                          "first_name": "Tim",
                          "last_name": "Zheng",
                          "name": "Tim Zheng",
                          "linkedin_url": "http://www.linkedin.com/in/tim-zheng",
                          "title": "Founder & CEO",
                          "email_status": "verified",
                          "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
                          "twitter_url": null,
                          "github_url": null,
                          "facebook_url": null,
                          "extrapolated_email_confidence": null,
                          "headline": "Founder & CEO at Apollo",
                          "email": "tim@apollo.io",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "employment_history": [
                            {
                              "_id": "6915ed9398459a000180e6ca",
                              "created_at": null,
                              "current": true,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": null,
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "org_matched_by_name": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo",
                              "raw_address": null,
                              "start_date": "2016-01-01",
                              "title": "Founder & CEO",
                              "updated_at": null,
                              "id": "6915ed9398459a000180e6ca",
                              "key": "6915ed9398459a000180e6ca"
                            },
                            {
                              "_id": "6915ed9398459a000180e6cb",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2011-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "org_matched_by_name": null,
                              "organization_id": "54a22f23746869331840e813",
                              "organization_name": "Citadel Investment Group",
                              "raw_address": null,
                              "start_date": "2011-01-01",
                              "title": "Investment & Trading Associate",
                              "updated_at": null,
                              "id": "6915ed9398459a000180e6cb",
                              "key": "6915ed9398459a000180e6cb"
                            },
                            {
                              "_id": "6915ed9398459a000180e6cc",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2015-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "org_matched_by_name": null,
                              "organization_id": null,
                              "organization_name": "Braingenie",
                              "raw_address": null,
                              "start_date": "2011-01-01",
                              "title": "Founder & CEO",
                              "updated_at": null,
                              "id": "6915ed9398459a000180e6cc",
                              "key": "6915ed9398459a000180e6cc"
                            },
                            {
                              "_id": "6915ed9398459a000180e6cd",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-09-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "org_matched_by_name": null,
                              "organization_id": "54a1216169702d7fe6dfca02",
                              "organization_name": "The Boston Consulting Group",
                              "raw_address": null,
                              "start_date": "2010-08-01",
                              "title": "Summer Associate",
                              "updated_at": null,
                              "id": "6915ed9398459a000180e6cd",
                              "key": "6915ed9398459a000180e6cd"
                            },
                            {
                              "_id": "6915ed9398459a000180e6ce",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "org_matched_by_name": null,
                              "organization_id": "5da2e6a3f978a8000177e831",
                              "organization_name": "Goldman Sachs",
                              "raw_address": null,
                              "start_date": "2010-06-01",
                              "title": "Summer Analyst",
                              "updated_at": null,
                              "id": "6915ed9398459a000180e6ce",
                              "key": "6915ed9398459a000180e6ce"
                            },
                            {
                              "_id": "6915ed9398459a000180e6cf",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-02-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "org_matched_by_name": null,
                              "organization_id": "54a1a06274686945fa1ffc02",
                              "organization_name": "Jane Street",
                              "raw_address": null,
                              "start_date": "2009-12-01",
                              "title": "Trading Intern",
                              "updated_at": null,
                              "id": "6915ed9398459a000180e6cf",
                              "key": "6915ed9398459a000180e6cf"
                            }
                          ],
                          "street_address": "",
                          "city": "New York",
                          "state": "New York",
                          "country": "United States",
                          "postal_code": null,
                          "formatted_address": "New York, NY, USA",
                          "time_zone": "America/New_York",
                          "organization": {
                            "id": "5e66b6381e05b4008c8331b8",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/MeetApollo/",
                            "facebook_url": "https://facebook.com/MeetApollo/",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": null,
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67ced4f5414db000016da285/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "sic_codes": [
                              "7375"
                            ],
                            "naics_codes": [
                              "54161"
                            ],
                            "industry": "information technology & services",
                            "estimated_num_employees": 800,
                            "keywords": [
                              "sales engagement",
                              "lead generation",
                              "predictive analytics",
                              "lead scoring",
                              "sales strategy",
                              "conversation intelligence",
                              "sales enablement",
                              "lead routing",
                              "sales development",
                              "email engagement",
                              "revenue intelligence",
                              "sales operations",
                              "sales intelligence",
                              "lead intelligence",
                              "prospecting",
                              "b2b data",
                              "software development",
                              "automated sales workflows",
                              "sales intelligence solutions",
                              "sales automation software",
                              "ai-driven sales insights",
                              "lead enrichment",
                              "data validation",
                              "sales data platform",
                              "sales engagement automation ai",
                              "multichannel outreach",
                              "sales automation ai",
                              "sales workflow automation",
                              "crm data synchronization ai",
                              "ai-powered lead scoring",
                              "data accuracy",
                              "sales engagement automation",
                              "sales crm",
                              "sales enablement tools",
                              "email automation",
                              "sales automation tools ai",
                              "crm data enrichment",
                              "sales acceleration",
                              "lead scoring algorithms",
                              "ai assistants",
                              "sales prospecting platform ai",
                              "crm enrichment",
                              "crm data management",
                              "lead discovery tools",
                              "ai sales assistant",
                              "sales management tools",
                              "sales analytics",
                              "sales intelligence tools",
                              "workflow automation",
                              "crm enrichment tools",
                              "sales prospecting automation",
                              "sales prospecting",
                              "services",
                              "software publishing",
                              "sales pipeline ai",
                              "sales management",
                              "sales tools",
                              "sales analytics and insights",
                              "sales pipeline tools",
                              "marketing automation",
                              "multi-channel sales",
                              "sales analytics platform",
                              "sales data enrichment",
                              "lead discovery",
                              "b2b sales platform",
                              "crm data synchronization",
                              "data validation ai",
                              "crm integration",
                              "b2b",
                              "sales pipeline management",
                              "sales productivity",
                              "data validation services ai",
                              "sales prospect database",
                              "information technology and services",
                              "sales analytics tools",
                              "ai-powered outreach",
                              "lead enrichment services",
                              "multi-channel sales automation",
                              "sales acceleration tools",
                              "sales intelligence platform",
                              "sales pipeline",
                              "automated follow-up",
                              "ai-powered sales",
                              "sales engagement tools",
                              "sales engagement ai",
                              "automation tools",
                              "sales engagement platform ai",
                              "ai sales automation",
                              "sales automation workflows",
                              "contact database",
                              "contact data",
                              "contact verification ai",
                              "b2b database",
                              "crm integrations",
                              "sales prospecting automation ai",
                              "sales enablement platform",
                              "sales prospecting tools",
                              "automated follow-up ai",
                              "sales growth",
                              "sales workflows",
                              "sales engagement ai tools",
                              "customer data",
                              "sales and marketing",
                              "customer data platform",
                              "customer acquisition",
                              "deal management",
                              "sales automation tools",
                              "sales automation",
                              "crm enrichment ai",
                              "prospect data",
                              "lead scoring ai",
                              "management consulting services",
                              "sales outreach",
                              "sales prospecting platform",
                              "sales acceleration ai",
                              "contact verification",
                              "sales engagement platform",
                              "lead scoring algorithms ai",
                              "data enrichment",
                              "lead scoring and prioritization",
                              "sales analytics ai",
                              "sales platform",
                              "sales prospecting data",
                              "sales prospecting tools ai",
                              "multi-channel outreach tools",
                              "lead discovery ai",
                              "sales prospecting ai",
                              "crm enrichment tools ai",
                              "data validation services",
                              "pipeline management",
                              "automated workflows",
                              "analytics and reporting",
                              "coaching and feedback",
                              "signal-based prospecting",
                              "inbound optimization",
                              "contact and account search",
                              "email outreach automation",
                              "meeting scheduling",
                              "multi-channel outreach",
                              "lead qualification",
                              "form optimization",
                              "sales performance improvement",
                              "live data network",
                              "revops tools",
                              "account-based prospecting",
                              "meeting preparedness",
                              "ai recommendations",
                              "webinar integration",
                              "sales coaching",
                              "team collaboration",
                              "sales insights",
                              "buyer's journey tracking",
                              "market intelligence",
                              "lead prioritization",
                              "customer journey mapping",
                              "sales funnel tracking",
                              "data-driven sales",
                              "email deliverability management",
                              "automated lead follow-up",
                              "predictive analytics for sales",
                              "sales campaign management",
                              "sales productivity tools",
                              "sales performance management",
                              "finance",
                              "marketing & advertising",
                              "sales",
                              "information technology & services",
                              "enterprise software",
                              "enterprises",
                              "computer software",
                              "saas",
                              "sales & marketing",
                              "financial services"
                            ],
                            "organization_revenue_printed": "150M",
                            "organization_revenue": 150000000,
                            "industries": [
                              "information technology & services"
                            ],
                            "secondary_industries": [],
                            "snippets_loaded": true,
                            "industry_tag_id": "5567cd4773696439b10b0000",
                            "industry_tag_hash": {
                              "information technology & services": "5567cd4773696439b10b0000"
                            },
                            "retail_location_count": 0,
                            "raw_address": "535 mission street, san francisco, ca, united states",
                            "street_address": "535 Mission Street",
                            "city": "San Francisco",
                            "state": "California",
                            "postal_code": "94105",
                            "country": "United States",
                            "organization_headcount_six_month_growth": null,
                            "organization_headcount_twelve_month_growth": null,
                            "organization_headcount_twenty_four_month_growth": null
                          },
                          "account_id": "69117ed132edd7027c7cef43",
                          "account": {
                            "id": "69117ed132edd7027c7cef43",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/MeetApollo/",
                            "facebook_url": "https://facebook.com/MeetApollo/",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": null,
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/67ced4f5414db000016da285/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "sic_codes": [
                              "7375"
                            ],
                            "naics_codes": [
                              "54161"
                            ],
                            "raw_address": "535 mission street, san francisco, ca, united states",
                            "street_address": "535 Mission Street",
                            "city": "San Francisco",
                            "state": "California",
                            "country": "United States",
                            "postal_code": "94105",
                            "domain": "apollo.io",
                            "team_id": "620210171b9d04008e2ac0e0",
                            "organization_id": "5e66b6381e05b4008c8331b8",
                            "account_stage_id": "68a3613301a3ee00183d08f4",
                            "source": "deployment",
                            "original_source": "deployment",
                            "creator_id": "69031ad7e03fb2001d441726",
                            "owner_id": "69031ad7e03fb2001d441726",
                            "created_at": "2025-11-10T05:57:37.171Z",
                            "phone_status": "no_status",
                            "hubspot_id": null,
                            "salesforce_id": null,
                            "crm_owner_id": null,
                            "parent_account_id": null,
                            "suggested_from_rule_engine_config_id": null,
                            "account_playbook_statuses": [],
                            "existence_level": "full",
                            "label_ids": [],
                            "typed_custom_fields": {},
                            "custom_field_errors": null,
                            "modality": "account",
                            "source_display_name": "Requested from Apollo",
                            "crm_record_url": null,
                            "last_activity_date": null
                          },
                          "departments": [
                            "c_suite"
                          ],
                          "subdepartments": [
                            "executive",
                            "founder"
                          ],
                          "seniority": "founder",
                          "functions": [
                            "entrepreneurship"
                          ],
                          "intent_strength": null,
                          "show_intent": false,
                          "email_domain_catchall": false,
                          "revealed_for_current_team": true
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "error_code": {},
                    "error_message": {},
                    "total_requested_enrichments": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "unique_enriched_records": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "missing_records": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "66b8a5d38d90c000011cce51"
                          },
                          "first_name": {
                            "type": "string",
                            "example": "Tim"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Zheng"
                          },
                          "name": {
                            "type": "string",
                            "example": "Tim Zheng"
                          },
                          "linkedin_url": {
                            "type": "string",
                            "example": "http://www.linkedin.com/in/tim-zheng-677ba010"
                          },
                          "title": {
                            "type": "string",
                            "example": "Founder & CEO"
                          },
                          "email_status": {
                            "type": "string",
                            "example": "verified"
                          },
                          "photo_url": {
                            "type": "string",
                            "example": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2"
                          },
                          "twitter_url": {},
                          "github_url": {},
                          "facebook_url": {},
                          "extrapolated_email_confidence": {},
                          "headline": {
                            "type": "string",
                            "example": "Founder & CEO at Apollo"
                          },
                          "email": {
                            "type": "string",
                            "example": "tim@apollo.io"
                          },
                          "organization_id": {
                            "type": "string",
                            "example": "5e66b6381e05b4008c8331b8"
                          },
                          "employment_history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string",
                                  "example": "66d8c632580636000195735f"
                                },
                                "created_at": {},
                                "current": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "degree": {},
                                "description": {},
                                "emails": {},
                                "end_date": {},
                                "grade_level": {},
                                "kind": {},
                                "major": {},
                                "organization_id": {
                                  "type": "string",
                                  "example": "5e66b6381e05b4008c8331b8"
                                },
                                "organization_name": {
                                  "type": "string",
                                  "example": "Apollo"
                                },
                                "raw_address": {},
                                "start_date": {
                                  "type": "string",
                                  "example": "2016-01-01"
                                },
                                "title": {
                                  "type": "string",
                                  "example": "Founder & CEO"
                                },
                                "updated_at": {},
                                "id": {
                                  "type": "string",
                                  "example": "66d8c632580636000195735f"
                                },
                                "key": {
                                  "type": "string",
                                  "example": "66d8c632580636000195735f"
                                }
                              }
                            }
                          },
                          "state": {
                            "type": "string",
                            "example": "California"
                          },
                          "city": {
                            "type": "string",
                            "example": "San Francisco"
                          },
                          "country": {
                            "type": "string",
                            "example": "United States"
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "5e66b6381e05b4008c8331b8"
                              },
                              "name": {
                                "type": "string",
                                "example": "Apollo.io"
                              },
                              "website_url": {
                                "type": "string",
                                "example": "http://www.apollo.io"
                              },
                              "blog_url": {},
                              "angellist_url": {},
                              "linkedin_url": {
                                "type": "string",
                                "example": "http://www.linkedin.com/company/apolloio"
                              },
                              "twitter_url": {
                                "type": "string",
                                "example": "https://twitter.com/meetapollo/"
                              },
                              "facebook_url": {
                                "type": "string",
                                "example": "https://www.facebook.com/MeetApollo"
                              },
                              "primary_phone": {
                                "type": "object",
                                "properties": {}
                              },
                              "languages": {
                                "type": "array"
                              },
                              "alexa_ranking": {
                                "type": "integer",
                                "example": 3514,
                                "default": 0
                              },
                              "phone": {},
                              "linkedin_uid": {
                                "type": "string",
                                "example": "18511550"
                              },
                              "founded_year": {
                                "type": "integer",
                                "example": 2015,
                                "default": 0
                              },
                              "publicly_traded_symbol": {},
                              "publicly_traded_exchange": {},
                              "logo_url": {
                                "type": "string",
                                "example": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture"
                              },
                              "crunchbase_url": {},
                              "primary_domain": {
                                "type": "string",
                                "example": "apollo.io"
                              },
                              "industry": {
                                "type": "string",
                                "example": "information technology & services"
                              },
                              "keywords": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "sales engagement"
                                }
                              },
                              "estimated_num_employees": {
                                "type": "integer",
                                "example": 1600,
                                "default": 0
                              },
                              "industries": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "information technology & services"
                                }
                              },
                              "secondary_industries": {
                                "type": "array"
                              },
                              "snippets_loaded": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "industry_tag_id": {
                                "type": "string",
                                "example": "5567cd4773696439b10b0000"
                              },
                              "industry_tag_hash": {
                                "type": "object",
                                "properties": {
                                  "information technology & services": {
                                    "type": "string",
                                    "example": "5567cd4773696439b10b0000"
                                  }
                                }
                              },
                              "retail_location_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "raw_address": {
                                "type": "string",
                                "example": "415 Mission St, Floor 37, San Francisco, California 94105, US"
                              },
                              "street_address": {
                                "type": "string",
                                "example": "415 Mission St"
                              },
                              "city": {
                                "type": "string",
                                "example": "San Francisco"
                              },
                              "state": {
                                "type": "string",
                                "example": "California"
                              },
                              "postal_code": {
                                "type": "string",
                                "example": "94105-2301"
                              },
                              "country": {
                                "type": "string",
                                "example": "United States"
                              }
                            }
                          },
                          "is_likely_to_engage": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "account_id": {
                            "type": "string",
                            "example": "63f53afe4ceeca00016bdd2f"
                          },
                          "account": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "63f53afe4ceeca00016bdd2f"
                              },
                              "name": {
                                "type": "string",
                                "example": "Apollo.io"
                              },
                              "website_url": {
                                "type": "string",
                                "example": "http://www.apollo.io"
                              },
                              "blog_url": {},
                              "angellist_url": {},
                              "linkedin_url": {
                                "type": "string",
                                "example": "http://www.linkedin.com/company/apolloio"
                              },
                              "twitter_url": {
                                "type": "string",
                                "example": "https://twitter.com/meetapollo/"
                              },
                              "facebook_url": {
                                "type": "string",
                                "example": "https://www.facebook.com/MeetApollo"
                              },
                              "primary_phone": {
                                "type": "object",
                                "properties": {}
                              },
                              "languages": {
                                "type": "array"
                              },
                              "alexa_ranking": {
                                "type": "integer",
                                "example": 3514,
                                "default": 0
                              },
                              "phone": {
                                "type": "string",
                                "example": "+1(202) 374-1312"
                              },
                              "linkedin_uid": {
                                "type": "string",
                                "example": "18511550"
                              },
                              "founded_year": {
                                "type": "integer",
                                "example": 2015,
                                "default": 0
                              },
                              "publicly_traded_symbol": {},
                              "publicly_traded_exchange": {},
                              "logo_url": {
                                "type": "string",
                                "example": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture"
                              },
                              "crunchbase_url": {},
                              "primary_domain": {
                                "type": "string",
                                "example": "apollo.io"
                              },
                              "domain": {
                                "type": "string",
                                "example": "apollo.io"
                              },
                              "team_id": {
                                "type": "string",
                                "example": "6095a710bd01d100a506d4ac"
                              },
                              "organization_id": {
                                "type": "string",
                                "example": "5e66b6381e05b4008c8331b8"
                              },
                              "account_stage_id": {},
                              "source": {
                                "type": "string",
                                "example": "csv_import"
                              },
                              "original_source": {
                                "type": "string",
                                "example": "salesforce"
                              },
                              "creator_id": {},
                              "owner_id": {
                                "type": "string",
                                "example": "66aaac5a0e951f01b37012bd"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2023-02-21T21:43:26.351Z"
                              },
                              "phone_status": {
                                "type": "string",
                                "example": "no_status"
                              },
                              "hubspot_id": {},
                              "salesforce_id": {
                                "type": "string",
                                "example": "001bn00000zqVJ7AAM"
                              },
                              "crm_owner_id": {
                                "type": "string",
                                "example": "005bn000003w8rVAAQ"
                              },
                              "parent_account_id": {},
                              "sanitized_phone": {
                                "type": "string",
                                "example": "+12023741312"
                              },
                              "account_playbook_statuses": {
                                "type": "array"
                              },
                              "account_rule_config_statuses": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "_id": {
                                      "type": "string",
                                      "example": "664f9eef1fded70001e4983e"
                                    },
                                    "created_at": {},
                                    "rule_action_config_id": {
                                      "type": "string",
                                      "example": "65735e0ea63d2700faba5c6e"
                                    },
                                    "rule_config_id": {
                                      "type": "string",
                                      "example": "65735e0ea63d2700faba5c6f"
                                    },
                                    "status_cd": {
                                      "type": "string",
                                      "example": "completed"
                                    },
                                    "updated_at": {},
                                    "id": {
                                      "type": "string",
                                      "example": "664f9eef1fded70001e4983e"
                                    },
                                    "key": {
                                      "type": "string",
                                      "example": "664f9eef1fded70001e4983e"
                                    }
                                  }
                                }
                              },
                              "existence_level": {
                                "type": "string",
                                "example": "full"
                              },
                              "label_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "6504905b21ba8e00a334eb0f"
                                }
                              },
                              "typed_custom_fields": {
                                "type": "object",
                                "properties": {}
                              },
                              "custom_field_errors": {},
                              "modality": {
                                "type": "string",
                                "example": "account"
                              },
                              "source_display_name": {
                                "type": "string",
                                "example": "Uploaded from CSV"
                              },
                              "salesforce_record_url": {
                                "type": "string",
                                "example": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM"
                              },
                              "crm_record_url": {
                                "type": "string",
                                "example": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM"
                              }
                            }
                          },
                          "departments": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "c_suite"
                            }
                          },
                          "subdepartments": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "executive"
                            }
                          },
                          "seniority": {
                            "type": "string",
                            "example": "founder"
                          },
                          "functions": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "entrepreneurship"
                            }
                          },
                          "intent_strength": {},
                          "show_intent": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "revealed_for_current_team": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Add people to enrich": {
                    "value": {
                      "status": "failed",
                      "error_code": "INVALID_REQUEST",
                      "error_message": "invalid request, missing details"
                    }
                  },
                  "More than 10 people": {
                    "value": {
                      "status": "failed",
                      "error_code": "RECORD_LIMIT_EXCEEDED",
                      "error_message": "domain count cannot be more than 10"
                    }
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Add people to enrich",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "failed"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "INVALID_REQUEST"
                        },
                        "error_message": {
                          "type": "string",
                          "example": "invalid request, missing details"
                        }
                      }
                    },
                    {
                      "title": "More than 10 people",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "failed"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "RECORD_LIMIT_EXCEEDED"
                        },
                        "error_message": {
                          "type": "string",
                          "example": "domain count cannot be more than 10"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Check API key": {
                    "value": "Invalid access credentials."
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"status\": \"failed\",\n  \"error_code\": \"UNKNOWN_ERROR\",\n  \"error_message\": \"no implicit conversion of Symbol into Integer\",\n  \"stack_trace\": \"/home/app/webapp/app/controllers/api/v1/people_controller.rb:99:in `[]'\\n/home/app/webapp/app/controllers/api/v1/people_controller.rb:99:in `block in bulk_match'\\n/home/app/webapp/app/controllers/api/v1/people_controller.rb:97:in `map'\\n/home/app/webapp/app/controllers/api/v1/people_controller.rb:97:in `bulk_match'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/basic_implicit_render.rb:6:in `send_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/base.rb:224:in `process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/rendering.rb:165:in `process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/callbacks.rb:259:in `block in process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:121:in `block in run_callbacks'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/controller_transaction.rb:28:in `block in sentry_around_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/hub.rb:102:in `with_child_span'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry-ruby.rb:476:in `with_child_span'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/controller_transaction.rb:14:in `sentry_around_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:130:in `block in run_callbacks'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:141:in `run_callbacks'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/callbacks.rb:258:in `process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/rescue.rb:25:in `process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/instrumentation.rb:74:in `block in process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications.rb:206:in `block in instrument'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications/instrumenter.rb:58:in `instrument'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications.rb:206:in `instrument'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/instrumentation.rb:73:in `process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/params_wrapper.rb:261:in `process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/mongoid-8.1.5/lib/mongoid/railties/controller_runtime.rb:21:in `process_action'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/base.rb:160:in `process'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionview-7.1.3.2/lib/action_view/rendering.rb:40:in `process'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal.rb:227:in `dispatch'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal.rb:309:in `dispatch'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:49:in `dispatch'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:32:in `serve'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:51:in `block in serve'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:131:in `block in find_routes'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:124:in `each'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:124:in `find_routes'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:32:in `serve'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:882:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:470:in `call_app!'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-saml-2.1.0/lib/omniauth/strategies/saml.rb:86:in `other_phase'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:195:in `call!'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:169:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/builder.rb:44:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-cors-2.0.2/lib/rack/cors.rb:102:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/lib/middleware/outlook_response.rb:9:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/tempfile_reaper.rb:15:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/etag.rb:27:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/conditional_get.rb:40:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/head.rb:12:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/http/permissions_policy.rb:36:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/http/content_security_policy.rb:33:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/session/abstract/id.rb:266:in `context'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/session/abstract/id.rb:260:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/cookies.rb:689:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:101:in `run_callbacks'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/callbacks.rb:28:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/rescued_exception_interceptor.rb:12:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/debug_exceptions.rb:29:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/rack/capture_exceptions.rb:28:in `block (2 levels) in call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/hub.rb:251:in `with_session_tracking'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry-ruby.rb:387:in `with_session_tracking'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/rack/capture_exceptions.rb:19:in `block in call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/hub.rb:59:in `with_scope'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry-ruby.rb:367:in `with_scope'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/rack/capture_exceptions.rb:18:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/show_exceptions.rb:31:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy/railtie.rb:19:in `block in call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy/strategy.rb:70:in `wrap'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy.rb:217:in `strategy'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy/railtie.rb:19:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/rack/logger.rb:37:in `call_app'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/rack/logger.rb:26:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/lib/middleware/set_transaction_id.rb:14:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/remote_ip.rb:92:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/request_id.rb:28:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/method_override.rb:24:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/runtime.rb:22:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/cache/strategy/local_cache_middleware.rb:29:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/executor.rb:14:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/static.rb:25:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/sendfile.rb:110:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/events.rb:112:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/engine.rb:536:in `call'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/railtie.rb:226:in `public_send'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/railtie.rb:226:in `method_missing'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\\n/usr/lib/ruby/vendor_ruby/phusion_passenger/rack/thread_handler_extension.rb:107:in `process_request'\\n/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:157:in `accept_and_process_next_request'\\n/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:110:in `main_loop'\\n/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler.rb:419:in `block (3 levels) in start_threads'\\n/usr/lib/ruby/vendor_ruby/phusion_passenger/utils.rb:113:in `block in create_thread_and_abort_on_exception'\\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/logging-2.3.1/lib/logging/diagnostic_context.rb:474:in `block in create_with_logging_context'\"\n}"
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "failed"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "UNKNOWN_ERROR"
                        },
                        "error_message": {
                          "type": "string",
                          "example": "undefined method `length' for an instance of ActionController::Parameters"
                        },
                        "stack_trace": {
                          "type": "string",
                          "example": "/home/app/webapp/app/controllers/api/v1/people_controller.rb:70:in `bulk_match'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/basic_implicit_render.rb:6:in `send_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/base.rb:224:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/rendering.rb:165:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/callbacks.rb:259:in `block in process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:121:in `block in run_callbacks'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/controller_transaction.rb:28:in `block in sentry_around_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/hub.rb:102:in `with_child_span'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry-ruby.rb:476:in `with_child_span'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/controller_transaction.rb:14:in `sentry_around_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:130:in `block in run_callbacks'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:141:in `run_callbacks'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/callbacks.rb:258:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/rescue.rb:25:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/instrumentation.rb:74:in `block in process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications.rb:206:in `block in instrument'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications/instrumenter.rb:58:in `instrument'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications.rb:206:in `instrument'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/instrumentation.rb:73:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/params_wrapper.rb:261:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/mongoid-8.1.5/lib/mongoid/railties/controller_runtime.rb:21:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/base.rb:160:in `process'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionview-7.1.3.2/lib/action_view/rendering.rb:40:in `process'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal.rb:227:in `dispatch'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal.rb:309:in `dispatch'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:49:in `dispatch'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:32:in `serve'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:51:in `block in serve'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:131:in `block in find_routes'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:124:in `each'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:124:in `find_routes'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:32:in `serve'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:882:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:470:in `call_app!'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-saml-2.1.0/lib/omniauth/strategies/saml.rb:86:in `other_phase'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:195:in `call!'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:169:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/builder.rb:44:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-cors-2.0.2/lib/rack/cors.rb:102:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/lib/middleware/outlook_response.rb:9:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/tempfile_reaper.rb:15:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/etag.rb:27:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/conditional_get.rb:40:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/head.rb:12:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/http/permissions_policy.rb:36:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/http/content_security_policy.rb:33:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/session/abstract/id.rb:266:in `context'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/session/abstract/id.rb:260:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/cookies.rb:689:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/callbacks.rb:29:in `block in call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:101:in `run_callbacks'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/callbacks.rb:28:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/rescued_exception_interceptor.rb:12:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/debug_exceptions.rb:29:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/rack/capture_exceptions.rb:28:in `block (2 levels) in call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/hub.rb:251:in `with_session_tracking'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry-ruby.rb:387:in `with_session_tracking'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/rack/capture_exceptions.rb:19:in `block in call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/hub.rb:59:in `with_scope'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry-ruby.rb:367:in `with_scope'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/rack/capture_exceptions.rb:18:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/show_exceptions.rb:31:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy/railtie.rb:19:in `block in call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy/strategy.rb:70:in `wrap'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy.rb:217:in `strategy'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/bundler/gems/chewy-023147d80504/lib/chewy/railtie.rb:19:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/rack/logger.rb:37:in `call_app'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/rack/logger.rb:26:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/lib/middleware/set_transaction_id.rb:14:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/remote_ip.rb:92:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/request_id.rb:28:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/method_override.rb:24:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/runtime.rb:22:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/cache/strategy/local_cache_middleware.rb:29:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/executor.rb:14:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/middleware/static.rb:25:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/sendfile.rb:110:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/events.rb:112:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/engine.rb:536:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/railtie.rb:226:in `public_send'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/railties-7.1.3.2/lib/rails/railtie.rb:226:in `method_missing'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/usr/lib/ruby/vendor_ruby/phusion_passenger/rack/thread_handler_extension.rb:107:in `process_request'\n/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:157:in `accept_and_process_next_request'\n/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler/thread_handler.rb:110:in `main_loop'\n/usr/lib/ruby/vendor_ruby/phusion_passenger/request_handler.rb:419:in `block (3 levels) in start_threads'\n/usr/lib/ruby/vendor_ruby/phusion_passenger/utils.rb:113:in `block in create_thread_and_abort_on_exception'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/logging-2.3.1/lib/logging/diagnostic_context.rb:474:in `block in create_with_logging_context'"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "failed"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "UNKNOWN_ERROR"
                        },
                        "error_message": {
                          "type": "string",
                          "example": "no implicit conversion of Symbol into Integer"
                        },
                        "stack_trace": {
                          "type": "string",
                          "example": "/home/app/webapp/app/controllers/api/v1/people_controller.rb:99:in `[]'\n/home/app/webapp/app/controllers/api/v1/people_controller.rb:99:in `block in bulk_match'\n/home/app/webapp/app/controllers/api/v1/people_controller.rb:97:in `map'\n/home/app/webapp/app/controllers/api/v1/people_controller.rb:97:in `bulk_match'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/basic_implicit_render.rb:6:in `send_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/base.rb:224:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/rendering.rb:165:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/callbacks.rb:259:in `block in process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:121:in `block in run_callbacks'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/controller_transaction.rb:28:in `block in sentry_around_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry/hub.rb:102:in `with_child_span'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-ruby-5.15.2/lib/sentry-ruby.rb:476:in `with_child_span'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/sentry-rails-5.15.2/lib/sentry/rails/controller_transaction.rb:14:in `sentry_around_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:130:in `block in run_callbacks'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/callbacks.rb:141:in `run_callbacks'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/callbacks.rb:258:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/rescue.rb:25:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/instrumentation.rb:74:in `block in process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications.rb:206:in `block in instrument'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications/instrumenter.rb:58:in `instrument'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/activesupport-7.1.3.2/lib/active_support/notifications.rb:206:in `instrument'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/instrumentation.rb:73:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal/params_wrapper.rb:261:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/mongoid-8.1.5/lib/mongoid/railties/controller_runtime.rb:21:in `process_action'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/abstract_controller/base.rb:160:in `process'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionview-7.1.3.2/lib/action_view/rendering.rb:40:in `process'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal.rb:227:in `dispatch'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_controller/metal.rb:309:in `dispatch'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:49:in `dispatch'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:32:in `serve'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:51:in `block in serve'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:131:in `block in find_routes'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:124:in `each'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:124:in `find_routes'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/journey/router.rb:32:in `serve'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/actionpack-7.1.3.2/lib/action_dispatch/routing/route_set.rb:882:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:470:in `call_app!'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-saml-2.1.0/lib/omniauth/strategies/saml.rb:86:in `other_phase'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:195:in `call!'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/strategy.rb:169:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/omniauth-2.1.2/lib/omniauth/builder.rb:44:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-cors-2.0.2/lib/rack/cors.rb:102:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/lib/middleware/outlook_response.rb:9:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/tempfile_reaper.rb:15:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middleware_tracing.rb:99:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/rack-2.2.8.1/lib/rack/etag.rb:27:in `call'\n/home/app/webapp/vendor/bundle/ruby/3.3.0/gems/newrelic_rpm-9.8.0/lib/new_relic/agent/instrumentation/middl
[...]
