{
  "openapi": "3.1.0",
  "info": {
    "title": "apollo-rest-api",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.apollo.io/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "This access token is generated using the oauth"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    },
    {
      "apiKey": []
    }
  ],
  "paths": {
    "/people/bulk_match": {
      "post": {
        "summary": "Bulk People Enrichment",
        "description": "Use the Bulk People Enrichment endpoint to enrich data for up to 10 people with a single API call. To enrich data for only 1 person, use the <a href=\"https://docs.apollo.io/reference/people-enrichment\" target=\"_blank\">People Enrichment endpoint</a> instead. <br><br>Apollo relies on the information you pass via the endpoint's parameters to identify the correct people to enrich. When you provide more information, Apollo is more likely to find matches within its database. If you only provide general information, such as a name without a domain or email address, you might receive a `200` response, but the response will indicate that no records have been enriched. The details for each person should be passed as an object with the `details[]` array. <br><br>By default, this endpoint does not return personal emails or phone numbers. Use the `reveal_personal_emails` and `reveal_phone_number` parameters to retrieve emails and phone numbers. If you set either of these parameters to `true`, Apollo will attempt to provide emails or phone numbers for all matches. <br><br>Calling this endpoint does consume credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. This feature is not accessible to Apollo users on free plans.<br><br>This endpoint's <a href=\"https://docs.apollo.io/reference/rate-limits\" target=\"_blank\">rate limit</a> is throttled to 50% of the People Enrichment endpoint's per-minute rate limit, and is 100% of the hourly and daily rate limits for the same individual endpoint.",
        "operationId": "bulk-people-enrichment",
        "parameters": [
          {
            "name": "reveal_personal_emails",
            "in": "query",
            "description": "Set to `true` if you want to enrich all matched people with personal emails. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If a person resides in a <a href=\"https://knowledge.apollo.io/hc/en-us/articles/4409141087757\" target=\"_blank\">GDPR</a>-compliant region, Apollo will not reveal their personal email.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "reveal_phone_number",
            "in": "query",
            "description": "Set to `true` if you want to enrich the data of all matched people with all available phone numbers, including mobile phone numbers. This potentially consumes credits as part of your <a href=\"https://docs.apollo.io/docs/api-pricing\" target=\"_blank\">Apollo pricing plan</a>. The default value is `false`. <br><br>If this parameter is set to `true`, you must enter a webhook URL for the `webhook_url` parameter. Apollo will asynchronously verify phone numbers for you, then send a JSON response that includes only details about the phone numbers to the webhook URL you provide. It can take several minutes for the phone numbers to be delivered.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "webhook_url",
            "in": "query",
            "description": "If you set the `reveal_phone_number` parameter to `true`, this parameter becomes mandatory. Otherwise, do not use this parameter. <br><br>Enter the webhook URL that specifies where Apollo should send a JSON response that includes the phone number you requested. Apollo suggests testing this flow to ensure you receive the separate response with the phone number. <br><br>If phone numbers are not revealed delivered to the webhook URL, try applying UTF-8 encoding to the webhook URL. <br><br>Example: `https://webhook.site/cc4cf44e-e047-4774-8dac-473d28474e40`; `https%3A%2F%2Fwebhook.site%2Fcc4cf44e-e047-4774-8dac-473d28474e40`",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "details"
                ],
                "properties": {
                  "details": {
                    "type": "array",
                    "description": "Provide info for each person you want to enrich as an object within this array. Add up to 10 people.",
                    "items": {
                      "type": "object",
                      "properties": {
                        "first_name": {
                          "type": "string",
                          "description": "The first name of the person. This is typically used in combination with the `last_name` parameter. <br><br>Example: `tim`"
                        },
                        "last_name": {
                          "type": "string",
                          "description": "The last name of the person. This is typically used in combination with the `first_name` parameter. <br><br>Example: `zheng`"
                        },
                        "name": {
                          "type": "string",
                          "description": "The full name of the person. This will typically be a first name and last name separated by a space.  If you use this parameter, you do not need to use the `first_name` and `last_name` parameters. <br><br>Example: `tim zheng`"
                        },
                        "email": {
                          "type": "string",
                          "description": "The email address of the person. <br><br>Example: `example@email.com`"
                        },
                        "hashed_email": {
                          "type": "string",
                          "description": "The hashed email of the person. The email should adhere to either the MD5 or SHA-256 hash format. <br><br>Example: `8d935115b9ff4489f2d1f9249503cadf` (MD5) or `97817c0c49994eb500ad0a5e7e2d8aed51977b26424d508f66e4e8887746a152` (SHA-256)"
                        },
                        "organization_name": {
                          "type": "string",
                          "description": "The name of the person's employer. This can be the current employer or a previous employer. <br><br>Example: `apollo`"
                        },
                        "domain": {
                          "type": "string",
                          "description": "The domain name for the person's employer. This can be the current employer or a previous employer. Do not include `www.`, the `@` symbol, or similar. <br><br>Example: `apollo.io` or `microsoft.com`"
                        },
                        "id": {
                          "type": "string",
                          "description": "The Apollo ID for the person. Each person in the Apollo database is assigned a unique ID. <br><br>To find IDs, call the <a href=\"https://docs.apollo.io/reference/people-search\" target=\"_blank\">People Search endpoint</a> and identify the values for `person_id`. <br><br>Example: `587cf802f65125cad923a266`"
                        },
                        "linkedin_url": {
                          "type": "string",
                          "description": "The URL for the person's LinkedIn profile. <br><br>Example: `http://www.linkedin.com/in/tim-zheng-677ba010`"
                        }
                      },
                      "example": {
                        "first_name": "tim",
                        "last_name": "zheng",
                        "name": "tim zheng",
                        "email": "tim@apollo.io",
                        "hashed_email": "8d935115b9ff4489f2d1f9249503cadf",
                        "organization_name": "apollo",
                        "domain": "apollo.io",
                        "id": "587cf802f65125cad923a266",
                        "linkedin_url": "http://www.linkedin.com/in/tim-zheng-677ba010"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": {
                      "status": "success",
                      "error_code": null,
                      "error_message": null,
                      "total_requested_enrichments": 3,
                      "unique_enriched_records": 3,
                      "missing_records": 0,
                      "credits_consumed": 3,
                      "matches": [
                        {
                          "id": "66b8a5d38d90c000011cce51",
                          "first_name": "Tim",
                          "last_name": "Zheng",
                          "name": "Tim Zheng",
                          "linkedin_url": "http://www.linkedin.com/in/tim-zheng-677ba010",
                          "title": "Founder & CEO",
                          "email_status": "verified",
                          "photo_url": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
                          "twitter_url": null,
                          "github_url": null,
                          "facebook_url": null,
                          "extrapolated_email_confidence": null,
                          "headline": "Founder & CEO at Apollo",
                          "email": "tim@apollo.io",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "employment_history": [
                            {
                              "_id": "66d8c632580636000195735f",
                              "created_at": null,
                              "current": true,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": null,
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo",
                              "raw_address": null,
                              "start_date": "2016-01-01",
                              "title": "Founder & CEO",
                              "updated_at": null,
                              "id": "66d8c632580636000195735f",
                              "key": "66d8c632580636000195735f"
                            },
                            {
                              "_id": "66d8c6325806360001957360",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2015-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "Braingenie",
                              "raw_address": null,
                              "start_date": "2011-01-01",
                              "title": "Founder & CEO",
                              "updated_at": null,
                              "id": "66d8c6325806360001957360",
                              "key": "66d8c6325806360001957360"
                            },
                            {
                              "_id": "66d8c6325806360001957361",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2011-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a22f23746869331840e813",
                              "organization_name": "Citadel Investment Group",
                              "raw_address": null,
                              "start_date": "2011-01-01",
                              "title": "Investment & Trading Associate",
                              "updated_at": null,
                              "id": "66d8c6325806360001957361",
                              "key": "66d8c6325806360001957361"
                            },
                            {
                              "_id": "66d8c6325806360001957362",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-09-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a1216169702d7fe6dfca02",
                              "organization_name": "The Boston Consulting Group",
                              "raw_address": null,
                              "start_date": "2010-08-01",
                              "title": "Summer Associate",
                              "updated_at": null,
                              "id": "66d8c6325806360001957362",
                              "key": "66d8c6325806360001957362"
                            },
                            {
                              "_id": "66d8c6325806360001957363",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da2e6a3f978a8000177e831",
                              "organization_name": "Goldman Sachs",
                              "raw_address": null,
                              "start_date": "2010-06-01",
                              "title": "Summer Analyst",
                              "updated_at": null,
                              "id": "66d8c6325806360001957363",
                              "key": "66d8c6325806360001957363"
                            },
                            {
                              "_id": "66d8c6325806360001957364",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2010-02-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a1a06274686945fa1ffc02",
                              "organization_name": "Jane Street",
                              "raw_address": null,
                              "start_date": "2009-12-01",
                              "title": "Trading Intern",
                              "updated_at": null,
                              "id": "66d8c6325806360001957364",
                              "key": "66d8c6325806360001957364"
                            }
                          ],
                          "state": "California",
                          "city": "San Francisco",
                          "country": "United States",
                          "organization": {
                            "id": "5e66b6381e05b4008c8331b8",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": null,
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "industry": "information technology & services",
                            "keywords": [
                              "sales engagement",
                              "lead generation",
                              "predictive analytics",
                              "lead scoring",
                              "sales strategy",
                              "conversation intelligence",
                              "sales enablement",
                              "lead routing",
                              "sales development",
                              "email engagement",
                              "revenue intelligence",
                              "sales operations",
                              "sales intelligence",
                              "lead intelligence",
                              "prospecting",
                              "b2b data"
                            ],
                            "estimated_num_employees": 1600,
                            "industries": [
                              "information technology & services"
                            ],
                            "secondary_industries": [],
                            "snippets_loaded": true,
                            "industry_tag_id": "5567cd4773696439b10b0000",
                            "industry_tag_hash": {
                              "information technology & services": "5567cd4773696439b10b0000"
                            },
                            "retail_location_count": 0,
                            "raw_address": "415 Mission St, Floor 37, San Francisco, California 94105, US",
                            "street_address": "415 Mission St",
                            "city": "San Francisco",
                            "state": "California",
                            "postal_code": "94105-2301",
                            "country": "United States"
                          },
                          "is_likely_to_engage": true,
                          "account_id": "63f53afe4ceeca00016bdd2f",
                          "account": {
                            "id": "63f53afe4ceeca00016bdd2f",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": "+1(202) 374-1312",
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "domain": "apollo.io",
                            "team_id": "6095a710bd01d100a506d4ac",
                            "organization_id": "5e66b6381e05b4008c8331b8",
                            "account_stage_id": null,
                            "source": "csv_import",
                            "original_source": "salesforce",
                            "creator_id": null,
                            "owner_id": "66aaac5a0e951f01b37012bd",
                            "created_at": "2023-02-21T21:43:26.351Z",
                            "phone_status": "no_status",
                            "hubspot_id": null,
                            "salesforce_id": "001bn00000zqVJ7AAM",
                            "crm_owner_id": "005bn000003w8rVAAQ",
                            "parent_account_id": null,
                            "sanitized_phone": "+12023741312",
                            "account_playbook_statuses": [],
                            "account_rule_config_statuses": [
                              {
                                "_id": "664f9eef1fded70001e4983e",
                                "created_at": null,
                                "rule_action_config_id": "65735e0ea63d2700faba5c6e",
                                "rule_config_id": "65735e0ea63d2700faba5c6f",
                                "status_cd": "completed",
                                "updated_at": null,
                                "id": "664f9eef1fded70001e4983e",
                                "key": "664f9eef1fded70001e4983e"
                              }
                            ],
                            "existence_level": "full",
                            "label_ids": [
                              "6504905b21ba8e00a334eb0f"
                            ],
                            "typed_custom_fields": {},
                            "custom_field_errors": null,
                            "modality": "account",
                            "source_display_name": "Uploaded from CSV",
                            "salesforce_record_url": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM",
                            "crm_record_url": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM"
                          },
                          "departments": [
                            "c_suite"
                          ],
                          "subdepartments": [
                            "executive",
                            "founder"
                          ],
                          "seniority": "founder",
                          "functions": [
                            "entrepreneurship"
                          ],
                          "intent_strength": null,
                          "show_intent": false,
                          "revealed_for_current_team": true
                        },
                        {
                          "id": "587cf802f65125cad923a266",
                          "first_name": "Joshua",
                          "last_name": "Garrison",
                          "name": "Joshua Garrison",
                          "linkedin_url": "http://www.linkedin.com/in/joshuapgarrison",
                          "title": "VP @ Apollo.io | Publisher",
                          "email_status": "verified",
                          "photo_url": "https://media.licdn.com/dms/image/D5603AQH-d1WsQEKwvA/profile-displayphoto-shrink_200_200/0/1695673740828?e=2147483647&v=beta&t=P13G77MMlOa4jKIo642FjK6tJBsEopGahzqoRRfz24Q",
                          "twitter_url": null,
                          "github_url": null,
                          "facebook_url": null,
                          "extrapolated_email_confidence": null,
                          "headline": "VP @ Apollo.io | Publisher at Backlit Comics",
                          "email": "josh.garrison@apollo.io",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "employment_history": [
                            {
                              "_id": "66d9e67b86199f0001b24246",
                              "created_at": null,
                              "current": true,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": null,
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo.io",
                              "raw_address": null,
                              "start_date": "2023-08-01",
                              "title": "VP @ Apollo.io | Publisher",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24246",
                              "key": "66d9e67b86199f0001b24246"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24247",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2023-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo.io",
                              "raw_address": null,
                              "start_date": "2022-12-01",
                              "title": "Head of Content Marketing & Customer Education",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24247",
                              "key": "66d9e67b86199f0001b24247"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24248",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2022-12-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5ff745ebd2b12300da0d8c49",
                              "organization_name": "Teamflow",
                              "raw_address": null,
                              "start_date": "2022-01-01",
                              "title": "Head of Revenue",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24248",
                              "key": "66d9e67b86199f0001b24248"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24249",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2022-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5ff745ebd2b12300da0d8c49",
                              "organization_name": "Teamflow",
                              "raw_address": null,
                              "start_date": "2021-12-01",
                              "title": "Head Of Marketing",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24249",
                              "key": "66d9e67b86199f0001b24249"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424a",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2021-11-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "62b0a223c6e72300ca47b474",
                              "organization_name": "Autodesk",
                              "raw_address": null,
                              "start_date": "2021-04-01",
                              "title": "Sr. Growth Marketing Manager",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424a",
                              "key": "66d9e67b86199f0001b2424a"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424b",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2021-04-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "62b0a223c6e72300ca47b474",
                              "organization_name": "Autodesk",
                              "raw_address": null,
                              "start_date": "2019-03-01",
                              "title": "Growth Marketing Manager",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424b",
                              "key": "66d9e67b86199f0001b2424b"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424c",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2019-03-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "BuildingConnected, an Autodesk product",
                              "raw_address": null,
                              "start_date": "2018-10-01",
                              "title": "Marketing Automation Manager",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424c",
                              "key": "66d9e67b86199f0001b2424c"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424d",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2018-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "SpotMe Lending",
                              "raw_address": null,
                              "start_date": "2018-03-01",
                              "title": "Co-Founder, Product & Marketing",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424d",
                              "key": "66d9e67b86199f0001b2424d"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424e",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2016-06-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "inDinero",
                              "raw_address": null,
                              "start_date": "2015-11-01",
                              "title": "Director of Account Management",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424e",
                              "key": "66d9e67b86199f0001b2424e"
                            },
                            {
                              "_id": "66d9e67b86199f0001b2424f",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2015-11-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "inDinero",
                              "raw_address": null,
                              "start_date": "2014-09-01",
                              "title": "Director of Enterprise Sales",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b2424f",
                              "key": "66d9e67b86199f0001b2424f"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24250",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2014-07-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da61143b495bc000168bdca",
                              "organization_name": "FXCM",
                              "raw_address": null,
                              "start_date": "2013-06-01",
                              "title": "Forex Sales Broker",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24250",
                              "key": "66d9e67b86199f0001b24250"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24251",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2012-12-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5d0a6a7da3ae6121868fabb8",
                              "organization_name": "CreditRepair.com",
                              "raw_address": null,
                              "start_date": "2012-02-01",
                              "title": "Sales Team Leader",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24251",
                              "key": "66d9e67b86199f0001b24251"
                            },
                            {
                              "_id": "66d9e67b86199f0001b24252",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2011-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "54a1b7477468694f8f25ae0a",
                              "organization_name": "Progrexion",
                              "raw_address": null,
                              "start_date": "2011-04-01",
                              "title": "Inbound Sales Representative",
                              "updated_at": null,
                              "id": "66d9e67b86199f0001b24252",
                              "key": "66d9e67b86199f0001b24252"
                            }
                          ],
                          "state": "California",
                          "city": "San Francisco",
                          "country": "United States",
                          "organization": {
                            "id": "5e66b6381e05b4008c8331b8",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": null,
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "industry": "information technology & services",
                            "keywords": [
                              "sales engagement",
                              "lead generation",
                              "predictive analytics",
                              "lead scoring",
                              "sales strategy",
                              "conversation intelligence",
                              "sales enablement",
                              "lead routing",
                              "sales development",
                              "email engagement",
                              "revenue intelligence",
                              "sales operations",
                              "sales intelligence",
                              "lead intelligence",
                              "prospecting",
                              "b2b data"
                            ],
                            "estimated_num_employees": 1600,
                            "industries": [
                              "information technology & services"
                            ],
                            "secondary_industries": [],
                            "snippets_loaded": true,
                            "industry_tag_id": "5567cd4773696439b10b0000",
                            "industry_tag_hash": {
                              "information technology & services": "5567cd4773696439b10b0000"
                            },
                            "retail_location_count": 0,
                            "raw_address": "415 Mission St, Floor 37, San Francisco, California 94105, US",
                            "street_address": "415 Mission St",
                            "city": "San Francisco",
                            "state": "California",
                            "postal_code": "94105-2301",
                            "country": "United States"
                          },
                          "is_likely_to_engage": false,
                          "account_id": "63f53afe4ceeca00016bdd2f",
                          "account": {
                            "id": "63f53afe4ceeca00016bdd2f",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": "+1(202) 374-1312",
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "domain": "apollo.io",
                            "team_id": "6095a710bd01d100a506d4ac",
                            "organization_id": "5e66b6381e05b4008c8331b8",
                            "account_stage_id": null,
                            "source": "csv_import",
                            "original_source": "salesforce",
                            "creator_id": null,
                            "owner_id": "66aaac5a0e951f01b37012bd",
                            "created_at": "2023-02-21T21:43:26.351Z",
                            "phone_status": "no_status",
                            "hubspot_id": null,
                            "salesforce_id": "001bn00000zqVJ7AAM",
                            "crm_owner_id": "005bn000003w8rVAAQ",
                            "parent_account_id": null,
                            "sanitized_phone": "+12023741312",
                            "account_playbook_statuses": [],
                            "account_rule_config_statuses": [
                              {
                                "_id": "664f9eef1fded70001e4983e",
                                "created_at": null,
                                "rule_action_config_id": "65735e0ea63d2700faba5c6e",
                                "rule_config_id": "65735e0ea63d2700faba5c6f",
                                "status_cd": "completed",
                                "updated_at": null,
                                "id": "664f9eef1fded70001e4983e",
                                "key": "664f9eef1fded70001e4983e"
                              }
                            ],
                            "existence_level": "full",
                            "label_ids": [
                              "6504905b21ba8e00a334eb0f"
                            ],
                            "typed_custom_fields": {},
                            "custom_field_errors": null,
                            "modality": "account",
                            "source_display_name": "Uploaded from CSV",
                            "salesforce_record_url": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM",
                            "crm_record_url": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM"
                          },
                          "departments": [],
                          "subdepartments": [],
                          "seniority": "vp",
                          "functions": [],
                          "intent_strength": null,
                          "show_intent": false,
                          "revealed_for_current_team": true
                        },
                        {
                          "id": "611d751fa587f80001890daa",
                          "first_name": "Hally",
                          "last_name": "Pinaud",
                          "name": "Hally Pinaud",
                          "linkedin_url": "http://www.linkedin.com/in/hpinaud",
                          "title": "Product Marketing Leader at Apollo.io, formerly",
                          "email_status": "verified",
                          "photo_url": "https://media.licdn.com/dms/image/C4E03AQE9DNfL_aC5oA/profile-displayphoto-shrink_200_200/0/1517725396443?e=2147483647&v=beta&t=kuAO8WmhU_7RtP2iDirrpYV7ysvQfCZhixcqoDC9RUQ",
                          "twitter_url": "https://twitter.com/hallypino",
                          "github_url": null,
                          "facebook_url": null,
                          "extrapolated_email_confidence": null,
                          "headline": "Product Marketing Leader at Apollo.io, formerly @ Gainsight, Marketo, Podium",
                          "email": "hally.pinaud@apollo.io",
                          "organization_id": "5e66b6381e05b4008c8331b8",
                          "employment_history": [
                            {
                              "_id": "66d9520b7fea3e000137e512",
                              "created_at": null,
                              "current": true,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": null,
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e66b6381e05b4008c8331b8",
                              "organization_name": "Apollo.io",
                              "raw_address": null,
                              "start_date": "2023-06-01",
                              "title": "Product Marketing Leader at Apollo.io, formerly",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e512",
                              "key": "66d9520b7fea3e000137e512"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e513",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2023-05-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5b84e1f6f874f7499946da53",
                              "organization_name": "Podium",
                              "raw_address": null,
                              "start_date": "2021-10-01",
                              "title": "VP, Product Marketing & Brand",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e513",
                              "key": "66d9520b7fea3e000137e513"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e514",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2021-10-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5b84e1f6f874f7499946da53",
                              "organization_name": "Podium",
                              "raw_address": null,
                              "start_date": "2020-11-01",
                              "title": "Sr. Director, Head of Product Marketing",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e514",
                              "key": "66d9520b7fea3e000137e514"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e515",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2020-11-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da4169904a137000118172a",
                              "organization_name": "Gainsight",
                              "raw_address": null,
                              "start_date": "2020-06-01",
                              "title": "Head of Product Marketing",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e515",
                              "key": "66d9520b7fea3e000137e515"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e516",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2020-06-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da4169904a137000118172a",
                              "organization_name": "Gainsight",
                              "raw_address": null,
                              "start_date": "2019-10-01",
                              "title": "Sr. Director, Product Marketing",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e516",
                              "key": "66d9520b7fea3e000137e516"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e517",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2019-10-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5da4169904a137000118172a",
                              "organization_name": "Gainsight",
                              "raw_address": null,
                              "start_date": "2018-09-01",
                              "title": "Director of Product Marketing",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e517",
                              "key": "66d9520b7fea3e000137e517"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e518",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2018-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5ce358f53acc510bd70fee14",
                              "organization_name": "Marketo, an Adobe company",
                              "raw_address": null,
                              "start_date": "2018-01-01",
                              "title": "Director of Solutions & Content Marketing (Head of Global Content Marketing)",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e518",
                              "key": "66d9520b7fea3e000137e518"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e519",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2018-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5ce358f53acc510bd70fee14",
                              "organization_name": "Marketo, an Adobe company",
                              "raw_address": null,
                              "start_date": "2017-01-01",
                              "title": "Principal, Commercial Product Marketing",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e519",
                              "key": "66d9520b7fea3e000137e519"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e51a",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2017-01-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5ce358f53acc510bd70fee14",
                              "organization_name": "Marketo, an Adobe company",
                              "raw_address": null,
                              "start_date": "2015-08-01",
                              "title": "Senior Product Marketing Manager",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e51a",
                              "key": "66d9520b7fea3e000137e51a"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e51b",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2015-08-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": "5e596f42110b1400019edb6a",
                              "organization_name": "PeopleFluent",
                              "raw_address": null,
                              "start_date": "2015-01-01",
                              "title": "Product Marketing Manager",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e51b",
                              "key": "66d9520b7fea3e000137e51b"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e51c",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2014-12-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "Harte Hanks / The Aberdeen Group",
                              "raw_address": null,
                              "start_date": "2014-05-01",
                              "title": "Product Marketing Manager",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e51c",
                              "key": "66d9520b7fea3e000137e51c"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e51d",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2014-05-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "Harte Hanks / The Aberdeen Group",
                              "raw_address": null,
                              "start_date": "2013-12-01",
                              "title": "Product Marketing Specialist",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e51d",
                              "key": "66d9520b7fea3e000137e51d"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e51e",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2013-12-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "ConnectEDU (formerly Experience, Inc.)",
                              "raw_address": null,
                              "start_date": "2013-06-01",
                              "title": "Director of Marketing",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e51e",
                              "key": "66d9520b7fea3e000137e51e"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e51f",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2013-06-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "ConnectEDU (formerly Experience, Inc.)",
                              "raw_address": null,
                              "start_date": "2012-09-01",
                              "title": "Marketing Manager",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e51f",
                              "key": "66d9520b7fea3e000137e51f"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e520",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2012-09-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "ConnectEDU (formerly Experience, Inc.)",
                              "raw_address": null,
                              "start_date": "2012-04-01",
                              "title": "Solutions Consultant",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e520",
                              "key": "66d9520b7fea3e000137e520"
                            },
                            {
                              "_id": "66d9520b7fea3e000137e521",
                              "created_at": null,
                              "current": false,
                              "degree": null,
                              "description": null,
                              "emails": null,
                              "end_date": "2012-04-01",
                              "grade_level": null,
                              "kind": null,
                              "major": null,
                              "organization_id": null,
                              "organization_name": "ConnectEDU (formerly Experience, Inc.)",
                              "raw_address": null,
                              "start_date": "2011-03-01",
                              "title": "Account Executive",
                              "updated_at": null,
                              "id": "66d9520b7fea3e000137e521",
                              "key": "66d9520b7fea3e000137e521"
                            }
                          ],
                          "state": "Georgia",
                          "city": "Atlanta",
                          "country": "United States",
                          "organization": {
                            "id": "5e66b6381e05b4008c8331b8",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": null,
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "industry": "information technology & services",
                            "keywords": [
                              "sales engagement",
                              "lead generation",
                              "predictive analytics",
                              "lead scoring",
                              "sales strategy",
                              "conversation intelligence",
                              "sales enablement",
                              "lead routing",
                              "sales development",
                              "email engagement",
                              "revenue intelligence",
                              "sales operations",
                              "sales intelligence",
                              "lead intelligence",
                              "prospecting",
                              "b2b data"
                            ],
                            "estimated_num_employees": 1600,
                            "industries": [
                              "information technology & services"
                            ],
                            "secondary_industries": [],
                            "snippets_loaded": true,
                            "industry_tag_id": "5567cd4773696439b10b0000",
                            "industry_tag_hash": {
                              "information technology & services": "5567cd4773696439b10b0000"
                            },
                            "retail_location_count": 0,
                            "raw_address": "415 Mission St, Floor 37, San Francisco, California 94105, US",
                            "street_address": "415 Mission St",
                            "city": "San Francisco",
                            "state": "California",
                            "postal_code": "94105-2301",
                            "country": "United States"
                          },
                          "is_likely_to_engage": false,
                          "account_id": "63f53afe4ceeca00016bdd2f",
                          "account": {
                            "id": "63f53afe4ceeca00016bdd2f",
                            "name": "Apollo.io",
                            "website_url": "http://www.apollo.io",
                            "blog_url": null,
                            "angellist_url": null,
                            "linkedin_url": "http://www.linkedin.com/company/apolloio",
                            "twitter_url": "https://twitter.com/meetapollo/",
                            "facebook_url": "https://www.facebook.com/MeetApollo",
                            "primary_phone": {},
                            "languages": [],
                            "alexa_ranking": 3514,
                            "phone": "+1(202) 374-1312",
                            "linkedin_uid": "18511550",
                            "founded_year": 2015,
                            "publicly_traded_symbol": null,
                            "publicly_traded_exchange": null,
                            "logo_url": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture",
                            "crunchbase_url": null,
                            "primary_domain": "apollo.io",
                            "domain": "apollo.io",
                            "team_id": "6095a710bd01d100a506d4ac",
                            "organization_id": "5e66b6381e05b4008c8331b8",
                            "account_stage_id": null,
                            "source": "csv_import",
                            "original_source": "salesforce",
                            "creator_id": null,
                            "owner_id": "66aaac5a0e951f01b37012bd",
                            "created_at": "2023-02-21T21:43:26.351Z",
                            "phone_status": "no_status",
                            "hubspot_id": null,
                            "salesforce_id": "001bn00000zqVJ7AAM",
                            "crm_owner_id": "005bn000003w8rVAAQ",
                            "parent_account_id": null,
                            "sanitized_phone": "+12023741312",
                            "account_playbook_statuses": [],
                            "account_rule_config_statuses": [
                              {
                                "_id": "664f9eef1fded70001e4983e",
                                "created_at": null,
                                "rule_action_config_id": "65735e0ea63d2700faba5c6e",
                                "rule_config_id": "65735e0ea63d2700faba5c6f",
                                "status_cd": "completed",
                                "updated_at": null,
                                "id": "664f9eef1fded70001e4983e",
                                "key": "664f9eef1fded70001e4983e"
                              }
                            ],
                            "existence_level": "full",
                            "label_ids": [
                              "6504905b21ba8e00a334eb0f"
                            ],
                            "typed_custom_fields": {},
                            "custom_field_errors": null,
                            "modality": "account",
                            "source_display_name": "Uploaded from CSV",
                            "salesforce_record_url": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM",
                            "crm_record_url": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM"
                          },
                          "departments": [
                            "master_marketing"
                          ],
                          "subdepartments": [
                            "marketing",
                            "product_marketing"
                          ],
                          "seniority": "entry",
                          "functions": [
                            "marketing"
                          ],
                          "intent_strength": null,
                          "show_intent": false,
                          "revealed_for_current_team": true
                        }
                      ]
                    }
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "success"
                    },
                    "error_code": {},
                    "error_message": {},
                    "total_requested_enrichments": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "unique_enriched_records": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "missing_records": {
                      "type": "integer",
                      "example": 0,
                      "default": 0
                    },
                    "credits_consumed": {
                      "type": "integer",
                      "example": 3,
                      "default": 0
                    },
                    "matches": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "66b8a5d38d90c000011cce51"
                          },
                          "first_name": {
                            "type": "string",
                            "example": "Tim"
                          },
                          "last_name": {
                            "type": "string",
                            "example": "Zheng"
                          },
                          "name": {
                            "type": "string",
                            "example": "Tim Zheng"
                          },
                          "linkedin_url": {
                            "type": "string",
                            "example": "http://www.linkedin.com/in/tim-zheng-677ba010"
                          },
                          "title": {
                            "type": "string",
                            "example": "Founder & CEO"
                          },
                          "email_status": {
                            "type": "string",
                            "example": "verified"
                          },
                          "photo_url": {
                            "type": "string",
                            "example": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2"
                          },
                          "twitter_url": {},
                          "github_url": {},
                          "facebook_url": {},
                          "extrapolated_email_confidence": {},
                          "headline": {
                            "type": "string",
                            "example": "Founder & CEO at Apollo"
                          },
                          "email": {
                            "type": "string",
                            "example": "tim@apollo.io"
                          },
                          "organization_id": {
                            "type": "string",
                            "example": "5e66b6381e05b4008c8331b8"
                          },
                          "employment_history": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string",
                                  "example": "66d8c632580636000195735f"
                                },
                                "created_at": {},
                                "current": {
                                  "type": "boolean",
                                  "example": true,
                                  "default": true
                                },
                                "degree": {},
                                "description": {},
                                "emails": {},
                                "end_date": {},
                                "grade_level": {},
                                "kind": {},
                                "major": {},
                                "organization_id": {
                                  "type": "string",
                                  "example": "5e66b6381e05b4008c8331b8"
                                },
                                "organization_name": {
                                  "type": "string",
                                  "example": "Apollo"
                                },
                                "raw_address": {},
                                "start_date": {
                                  "type": "string",
                                  "example": "2016-01-01"
                                },
                                "title": {
                                  "type": "string",
                                  "example": "Founder & CEO"
                                },
                                "updated_at": {},
                                "id": {
                                  "type": "string",
                                  "example": "66d8c632580636000195735f"
                                },
                                "key": {
                                  "type": "string",
                                  "example": "66d8c632580636000195735f"
                                }
                              }
                            }
                          },
                          "state": {
                            "type": "string",
                            "example": "California"
                          },
                          "city": {
                            "type": "string",
                            "example": "San Francisco"
                          },
                          "country": {
                            "type": "string",
                            "example": "United States"
                          },
                          "organization": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "5e66b6381e05b4008c8331b8"
                              },
                              "name": {
                                "type": "string",
                                "example": "Apollo.io"
                              },
                              "website_url": {
                                "type": "string",
                                "example": "http://www.apollo.io"
                              },
                              "blog_url": {},
                              "angellist_url": {},
                              "linkedin_url": {
                                "type": "string",
                                "example": "http://www.linkedin.com/company/apolloio"
                              },
                              "twitter_url": {
                                "type": "string",
                                "example": "https://twitter.com/meetapollo/"
                              },
                              "facebook_url": {
                                "type": "string",
                                "example": "https://www.facebook.com/MeetApollo"
                              },
                              "primary_phone": {
                                "type": "object",
                                "properties": {}
                              },
                              "languages": {
                                "type": "array"
                              },
                              "alexa_ranking": {
                                "type": "integer",
                                "example": 3514,
                                "default": 0
                              },
                              "phone": {},
                              "linkedin_uid": {
                                "type": "string",
                                "example": "18511550"
                              },
                              "founded_year": {
                                "type": "integer",
                                "example": 2015,
                                "default": 0
                              },
                              "publicly_traded_symbol": {},
                              "publicly_traded_exchange": {},
                              "logo_url": {
                                "type": "string",
                                "example": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture"
                              },
                              "crunchbase_url": {},
                              "primary_domain": {
                                "type": "string",
                                "example": "apollo.io"
                              },
                              "industry": {
                                "type": "string",
                                "example": "information technology & services"
                              },
                              "keywords": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "sales engagement"
                                }
                              },
                              "estimated_num_employees": {
                                "type": "integer",
                                "example": 1600,
                                "default": 0
                              },
                              "industries": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "information technology & services"
                                }
                              },
                              "secondary_industries": {
                                "type": "array"
                              },
                              "snippets_loaded": {
                                "type": "boolean",
                                "example": true,
                                "default": true
                              },
                              "industry_tag_id": {
                                "type": "string",
                                "example": "5567cd4773696439b10b0000"
                              },
                              "industry_tag_hash": {
                                "type": "object",
                                "properties": {
                                  "information technology & services": {
                                    "type": "string",
                                    "example": "5567cd4773696439b10b0000"
                                  }
                                }
                              },
                              "retail_location_count": {
                                "type": "integer",
                                "example": 0,
                                "default": 0
                              },
                              "raw_address": {
                                "type": "string",
                                "example": "415 Mission St, Floor 37, San Francisco, California 94105, US"
                              },
                              "street_address": {
                                "type": "string",
                                "example": "415 Mission St"
                              },
                              "city": {
                                "type": "string",
                                "example": "San Francisco"
                              },
                              "state": {
                                "type": "string",
                                "example": "California"
                              },
                              "postal_code": {
                                "type": "string",
                                "example": "94105-2301"
                              },
                              "country": {
                                "type": "string",
                                "example": "United States"
                              }
                            }
                          },
                          "is_likely_to_engage": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          },
                          "account_id": {
                            "type": "string",
                            "example": "63f53afe4ceeca00016bdd2f"
                          },
                          "account": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "63f53afe4ceeca00016bdd2f"
                              },
                              "name": {
                                "type": "string",
                                "example": "Apollo.io"
                              },
                              "website_url": {
                                "type": "string",
                                "example": "http://www.apollo.io"
                              },
                              "blog_url": {},
                              "angellist_url": {},
                              "linkedin_url": {
                                "type": "string",
                                "example": "http://www.linkedin.com/company/apolloio"
                              },
                              "twitter_url": {
                                "type": "string",
                                "example": "https://twitter.com/meetapollo/"
                              },
                              "facebook_url": {
                                "type": "string",
                                "example": "https://www.facebook.com/MeetApollo"
                              },
                              "primary_phone": {
                                "type": "object",
                                "properties": {}
                              },
                              "languages": {
                                "type": "array"
                              },
                              "alexa_ranking": {
                                "type": "integer",
                                "example": 3514,
                                "default": 0
                              },
                              "phone": {
                                "type": "string",
                                "example": "+1(202) 374-1312"
                              },
                              "linkedin_uid": {
                                "type": "string",
                                "example": "18511550"
                              },
                              "founded_year": {
                                "type": "integer",
                                "example": 2015,
                                "default": 0
                              },
                              "publicly_traded_symbol": {},
                              "publicly_traded_exchange": {},
                              "logo_url": {
                                "type": "string",
                                "example": "https://zenprospect-production.s3.amazonaws.com/uploads/pictures/66d13c8d98ec9600013525b8/picture"
                              },
                              "crunchbase_url": {},
                              "primary_domain": {
                                "type": "string",
                                "example": "apollo.io"
                              },
                              "domain": {
                                "type": "string",
                                "example": "apollo.io"
                              },
                              "team_id": {
                                "type": "string",
                                "example": "6095a710bd01d100a506d4ac"
                              },
                              "organization_id": {
                                "type": "string",
                                "example": "5e66b6381e05b4008c8331b8"
                              },
                              "account_stage_id": {},
                              "source": {
                                "type": "string",
                                "example": "csv_import"
                              },
                              "original_source": {
                                "type": "string",
                                "example": "salesforce"
                              },
                              "creator_id": {},
                              "owner_id": {
                                "type": "string",
                                "example": "66aaac5a0e951f01b37012bd"
                              },
                              "created_at": {
                                "type": "string",
                                "example": "2023-02-21T21:43:26.351Z"
                              },
                              "phone_status": {
                                "type": "string",
                                "example": "no_status"
                              },
                              "hubspot_id": {},
                              "salesforce_id": {
                                "type": "string",
                                "example": "001bn00000zqVJ7AAM"
                              },
                              "crm_owner_id": {
                                "type": "string",
                                "example": "005bn000003w8rVAAQ"
                              },
                              "parent_account_id": {},
                              "sanitized_phone": {
                                "type": "string",
                                "example": "+12023741312"
                              },
                              "account_playbook_statuses": {
                                "type": "array"
                              },
                              "account_rule_config_statuses": {
                                "type": "array",
                                "items": {
                                  "type": "object",
                                  "properties": {
                                    "_id": {
                                      "type": "string",
                                      "example": "664f9eef1fded70001e4983e"
                                    },
                                    "created_at": {},
                                    "rule_action_config_id": {
                                      "type": "string",
                                      "example": "65735e0ea63d2700faba5c6e"
                                    },
                                    "rule_config_id": {
                                      "type": "string",
                                      "example": "65735e0ea63d2700faba5c6f"
                                    },
                                    "status_cd": {
                                      "type": "string",
                                      "example": "completed"
                                    },
                                    "updated_at": {},
                                    "id": {
                                      "type": "string",
                                      "example": "664f9eef1fded70001e4983e"
                                    },
                                    "key": {
                                      "type": "string",
                                      "example": "664f9eef1fded70001e4983e"
                                    }
                                  }
                                }
                              },
                              "existence_level": {
                                "type": "string",
                                "example": "full"
                              },
                              "label_ids": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "example": "6504905b21ba8e00a334eb0f"
                                }
                              },
                              "typed_custom_fields": {
                                "type": "object",
                                "properties": {}
                              },
                              "custom_field_errors": {},
                              "modality": {
                                "type": "string",
                                "example": "account"
                              },
                              "source_display_name": {
                                "type": "string",
                                "example": "Uploaded from CSV"
                              },
                              "salesforce_record_url": {
                                "type": "string",
                                "example": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM"
                              },
                              "crm_record_url": {
                                "type": "string",
                                "example": "https://saas-drive-8145.my.salesforce.com/001bn00000zqVJ7AAM"
                              }
                            }
                          },
                          "departments": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "c_suite"
                            }
                          },
                          "subdepartments": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "executive"
                            }
                          },
                          "seniority": {
                            "type": "string",
                            "example": "founder"
                          },
                          "functions": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "example": "entrepreneurship"
                            }
                          },
                          "intent_strength": {},
                          "show_intent": {
                            "type": "boolean",
                            "example": false,
                            "default": true
                          },
                          "revealed_for_current_team": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Add people to enrich": {
                    "value": {
                      "status": "failed",
                      "error_code": "INVALID_REQUEST",
                      "error_message": "invalid request, missing details"
                    }
                  },
                  "More than 10 people": {
                    "value": {
                      "status": "failed",
                      "error_code": "RECORD_LIMIT_EXCEEDED",
                      "error_message": "domain count cannot be more than 10"
                    }
                  }
                },
                "schema": {
                  "oneOf": [
                    {
                      "title": "Add people to enrich",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "failed"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "INVALID_REQUEST"
                        },
                        "error_message": {
                          "type": "string",
                          "example": "invalid request, missing details"
                        }
                      }
                    },
                    {
                      "title": "More than 10 people",
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string",
                          "example": "failed"
                        },
                        "error_code": {
                          "type": "string",
                          "example": "RECORD_LIMIT_EXCEEDED"
                        },
                        "error_message": {
                          "type": "string",
                          "example": "domain count cannot be more than 10"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "401",
            "content": {
              "text/plain": {
                "examples": {
                  "Check API key": {
                    "value": "Invalid access credentials."
                  }
                }
              }
            }
          },
          "422": {
            "description": "422",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
[...]
